API/obj/Debug/net5.0/API.assets.cache
API/obj/Debug/net5.0/API.csprojAssemblyReference.cache
API/bin/Debug/net5.0/API.deps.json
API/bin/Debug/net5.0/API.dll
API/bin/Debug/net5.0/API.pdb
API/bin/Debug/net5.0/Microsoft.Data.Sqlite.dll
API/bin/Debug/net5.0/Microsoft.DotNet.PlatformAbstractions.dll
API/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.Abstractions.dll
API/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.dll
API/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.Relational.dll
API/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.Sqlite.dll
API/bin/Debug/net5.0/Microsoft.Extensions.DependencyInjection.dll
API/bin/Debug/net5.0/Microsoft.Extensions.DependencyModel.dll
API/bin/Debug/net5.0/SQLitePCLRaw.batteries_v2.dll
API/bin/Debug/net5.0/SQLitePCLRaw.core.dll
API/bin/Debug/net5.0/SQLitePCLRaw.nativelibrary.dll
API/bin/Debug/net5.0/SQLitePCLRaw.provider.dynamic_cdecl.dll
API/bin/Debug/net5.0/System.Diagnostics.DiagnosticSource.dll
API/bin/Debug/net5.0/ref/API.dll
API/bin/Debug/net5.0/runtimes/alpine-x64/native/libe_sqlite3.so
API/bin/Debug/net5.0/runtimes/linux-arm/native/libe_sqlite3.so
API/bin/Debug/net5.0/runtimes/linux-arm64/native/libe_sqlite3.so
API/bin/Debug/net5.0/runtimes/linux-armel/native/libe_sqlite3.so
API/bin/Debug/net5.0/runtimes/linux-mips64/native/libe_sqlite3.so
API/bin/Debug/net5.0/runtimes/linux-musl-x64/native/libe_sqlite3.so
API/bin/Debug/net5.0/runtimes/linux-x64/native/libe_sqlite3.so
API/bin/Debug/net5.0/runtimes/linux-x86/native/libe_sqlite3.so
API/bin/Debug/net5.0/runtimes/osx-x64/native/libe_sqlite3.dylib
API/bin/Debug/net5.0/runtimes/win-arm/native/e_sqlite3.dll
API/bin/Debug/net5.0/runtimes/win-arm64/native/e_sqlite3.dll
API/bin/Debug/net5.0/runtimes/win-x64/native/e_sqlite3.dll
API/bin/Debug/net5.0/runtimes/win-x86/native/e_sqlite3.dll
API/obj/API.csproj.nuget.dgspec.json
API/obj/project.nuget.cache
API/obj/Debug/net5.0/API.assets.cache
API/obj/Debug/net5.0/API.csproj.CoreCompileInputs.cache
API/obj/Debug/net5.0/API.csproj.FileListAbsolute.txt
API/obj/Debug/net5.0/API.csprojAssemblyReference.cache
API/obj/Debug/net5.0/API.dll
API/obj/Debug/net5.0/API.pdb
API/obj/Debug/net5.0/ref/API.dll
