<div class="container mt-5">
    <diV *ngIf = "!registerMode" style="text-align: center;">
        <h1>Find Your match</h1>
        <p class="lead">Come on in to see your matches... All you need to do is Sign up!</p>
        <div class="text-center">
            <button (click)="registerToggle()" class="btn btn-primary btn-lg mr-2">Register</button>
            <button type="button" class="btn btn-info btn-lg" (click)="openModal(template)">Contact Developer</button>
 
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">This site is created By Tushar Kadam</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p class="large">About me : </p>
    <p>I am a full stack developer looking for any job opportunity</p>
    <p>To hire me contact @ <b>tusharlookingforjob@gmail.com</b> </p>
    <p> Mobile no. <b>+91-8693099527</b></p>
    <p>My other works : A React based Face Detection WebApp</p>
    <p class="middle large"><a href="https://demofacerecognition.herokuapp.com/"><span class="glyphicon">&#xe128;</span> FaceRecognitionApp</a></p>
  </div>
</ng-template>
        </div>
    </diV>
    <div *ngIf = "registerMode" class="container">
        <div class="row justify-content-center">
            <div class="col-4">
                <app-register (cancelRegister) = "cancelRegisterMode($event)"></app-register>
            </div>
        </div>
    </div>
     
</div>