.large{
    font-size: x-large;
}
.middle {
    text-align: center;
}
.img-container {
    /* height: auto; */
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    /* float: left; */
    margin-bottom: 2rem;
}

.center{
    margin-top: 200px;
}

.ImgForm{
    display: flex;
    margin-top: 130px;
    flex-wrap: wrap;
    justify-content: space-around;
}

@media (max-width: 768px) {
    .ImgForm{
      margin-top: 225px !important;
    }
  }

.form {


}

.hero_image {
    height: auto;
    width: 100vw;
    max-width: 600px;
}
