<form [formGroup]='registerForm' (ngSubmit)= "register()" autocomplete="off">
     <h2 class="text-center text-primary">Sign up</h2>
     <hr>
     <div class="form-group">
         <input type="text" class="form-control" formControlName='username' placeholder="Username">
     </div>

     <div class="form-group">
         <input type="password" class="form-control" formControlName='password' placeholder="Password">
     </div> 
     <div class="form-group">
         <input type="password" class="form-control" formControlName='confirmPassword' 
         placeholder="Confirm Password">
     </div> 
     <div class="form-group text-center">
         <button class="btn btn-success mr-2" type="submit">Register</button>
         <button class="btn btn-danger mr-2" (click)="cancel()" type="button">Cancel</button>
     </div>
</form>

<p>Form Value: {{registerForm.value | json}}</p>
<p>Form status: {{registerForm.status | json}}</p>