.dropddown-toggle .dropdown-item{
    cursor: pointer;
}

img {
    max-height: 50px;
    display: inline;
}
.nav-item {
	margin-right: .5rem
}
.navbar-nav {
	flex-direction: row !important;
}
.nav-user {
	align-self: flex-end !important;
}